.card-image{
   width: 100%;
   width: 50%;
   text-align: center;
}

.card-image img{
   width: 100%;
   height: 100%;
}

.far{
   font-size: 300px;
}

.love{
   font-size: 25px;
   position: absolute;
   top: 35%;
   left: 17%;
}

.desactive{
   display: none;
}

.max{
   width: 100%;
   text-align: center;
}

.active{
   background-color: #222;
   display: flex;
   position: relative;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 5;
}